@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Goldman:wght@400;700&family=Varela+Round&display=swap");

#skill {
  position: relative;
  top: 0;
}
.skillsWrapper {
  margin: 0;
  padding: 10vh 0 10vh 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 350px;
  perspective-origin: 50% 50%;
  color: white;
}

.skillsmain {
  justify-content: center;
  align-items: center;
  display: grid;
  gap:2rem;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  @media screen and (max-width: 960px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
    flex-direction: column;
  }
}
.skillsmain > div{
  @media screen and (max-width: 960px) {
    width: 50px;
    height: 50px;
  }
}
.skillscontainer {
  width: 150px;
  height: 150px;
  margin: 20px;
  transform-style: flat;
  @media screen and (max-width: 960px) {
    width: 50px;
    height: 50px;
    margin: 5px;
    color: white;
  }
}

.skillscontainer > div {
  position: absolute;
  width: 150px;
  height: 150px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  will-change: transform;
  cursor: pointer;

  @media screen and (max-width: 960px) {
    width: 50px;
    height: 50px;
    margin: auto;
  }
}

#Skills_title {
  position: relative;
  left: 38%;
}
