*,html{
    padding: 0;
    margin: 0;

}
Router {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Encode Sans Expanded", sans-serif;
  background-color: black;
}
.nav,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.back {
  background-image: url("thor.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

