* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Encode Sans Expanded", sans-serif;
  background-color: black;
}
.nav,
.new {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  z-index: 10;
}
